<ion-view view-title="达人规则" hide-tabs="true" hide-back-button="true">
<ion-nav-buttons side="left" back-or-home></ion-nav-buttons>
<ion-content overflow-scroll="true">
	<div class="t-mine-about">
		<div class="t-mine-about-tit">途礼游达人规则说明</div>
		<p>成为途礼游达人，您可以拥有专属的达人身份标识，发布最新的资讯信息，还可以获取更多有共同爱好的粉丝，更可享受用户消费推荐产品时所带来的佣金报酬。</p>
		<p>申请条件：</p>
		<p>1、用户群体：未申请途礼游达人认证的真实个人活跃用户</p>
		<p>2、申请标准</p>
		<p>1) 有头像：头像为清晰的，不违反途礼游协议（色情内容等）的照片（最好为本人近期照片）</p>
		<p>2) 绑定手机：你的途礼游帐号已经成功绑定手机</p>
		<p>3) 连续在途礼游登录15天以上 </p>
	</div>
</ion-content>
</ion-view>