<ion-view view-title="物流信息" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left" back-or-home></ion-nav-buttons>
	<ion-content>
            <iframe ng-src="{{link}}" width="300" height="380" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
            <p class="item fs-12" style="text-align: center; position: absolute; bottom: 0; width: 100%;">
                查询数据由：<a href="http://kuaidi100.com" target="_blank">KuaiDi100.Com （快递100）</a> 网站提供
            </p>
    </ion-content>
</ion-view>
