a {
	text-decoration: none
}

.bar .title {
	margin: 0
}

.w-icon-scan {
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../img/maps/map-scan.png) center no-repeat;
	background-size: 70%
}

.w-map {
	width: 100%;
	height: 100%
}

.w-map-ctrl {
	position: fixed;
	top: 15px;
	right: 10px;
	z-index: 100
}

.w-map-ctrl i {
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background-color: rgba(0,0,0,.6);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #fff;
	text-align: center;
	font-size: 22px;
	line-height: 35px
}

.w-map-ctrl .icon-loop {
	background-image: url(../img/maps/map-reload.png)
}

.w-map-ctrl .icon-home {
	background-image: url(../img/maps/map-home.png)
}

.w-map-ctrl .icon-group {
	background-image: url(../img/maps/map-group.png)
}

.w-map-ctrl a {
	display: block;
	margin: 0 0 10px
}

.w-map-ctrl .active i {
	background-color: rgba(200,0,60,.7)
}

.w-map-nav {
	overflow: auto
}

.w-map-nav .inner {
	display: table;
	padding: 0 0 0 5px;
	white-space: nowrap
}

.w-map-nav a {
	display: table-cell;
	padding: 0 10px;
	height: 34px;
	background: #fff;
	color: #717171;
	white-space: nowrap;
	font-size: 14px;
	line-height: 34px
}

.w-map-nav .active {
	border-bottom: 1px solid #c8003c;
	color: #c8003c
}

.w-map-content {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%
}

.w-map-content .background {
	position: absolute;
	top: 0;
	left: 0;
	touch-action: none
}

.w-map-content .locations {
	position: absolute;
	top: 0;
	left: 0;
	transition-timing-function: ease-in;
	transition-duration: .5s;
	transition-property: opacity
}

.w-map-content .fade {
	opacity: 0
}

.w-map-content .moving {
	transition-duration: 0s
}

.w-map-content .items {
	position: absolute;
	z-index: 10;
	font-size: 12px;
	opacity: 0;
}

.w-map-content .items>a {
	display: block
}

.w-map-content .items .toggleContent {
	display: block
}

.w-map-content .items .toggleContent span{
	display:block;width:15px;height:15px;background:#2f3334;border-radius:100%;position:relative;z-index:10;border-radius: 100%;
}

.w-map-content .items-avatar {
	position: absolute;
	top: 50%;
	left: 17px;
	margin: -19px 0px 0 -8px;
}

.w-map-content .items-avatar img {
	position: relative;
	z-index: 5;
	width: 32px;
	height: 32px;
	border: 2px solid #2f3334;
	border-radius: 100%;
	background: #fff
}

.w-map-content .items-avatar:after {
	position: absolute;
	bottom: 1px;
	left: 9px;
	z-index: 2;
	display: none;
	width: 15px;
	height: 15px;
	background: #c8003c;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.w-map-content .items-content {
	z-index: 0;
	visibility: hidden;
	overflow: hidden;
	margin: 0 0 0 45px;
	border-radius: 5px;
	padding-bottom: 10px;
	color: #fff;
	opacity: 0;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	-webkit-transform: scale(.6);
	transform: scale(.6)
}

.w-map-content .items-content a {
	color: #fff
}

.w-map-content .items-content .hd {
	overflow: hidden;
	padding: 0 10px;
	height: 26px;
	background-color: rgba(200,0,60,.74);
	color: #fff;
	white-space: nowrap;
	line-height: 26px
}

.w-map-content .items-content .mark {
	margin: 0 20px 0 0
}

.w-map-content .items-content .sub {
	float: right
}

.w-map-content .items-content .icon {
	margin: 0 5px 0 0
}

.w-map-content .items-content .bd {
	position: relative;
	padding: 5px 20px 5px 10px;
	background-color: rgba(0,0,0,.74);
	border-radius: 5px;	
}

.w-map-content .items-content .ion-heart {
	font-size: 15px
}

.w-map-content .items-content .desc {
	color: #c8003c
}

.w-map-content .items-content .name {
	white-space: nowrap;
	font-size: 14px
}

.w-map-content .items-content .name .ion-heart {
	margin: 0
}

.w-map-content .items-content p {
	clear: both;
	margin: 0
}

.w-map-content .items-content .pic {
	position: absolute;
	top: 7px;
	right: 5px;
	width: 35px;
	height: 35px;
	border: 1px solid #fff
}

.w-map-content .items-content-scenic {
	position: absolute;
	top: -113px;
	left: 17px;
}

.w-map-content .items-content-scenic.items-store {	
	top: -85px;	
}

.w-map-content .items-content-scenic .img {
	position: absolute;
	top: 5px;
	left: 10px;
	width: 50px;
	height: 50px
}

.w-map-content .items-content-scenic.block img{
	width: 40px;
	height: 40px;
}

.w-map-content .items-content-scenic .bd {
	padding: 5px 20px 5px 75px;
	line-height: 25px
}
.w-map-content .items-content-scenic.items-store .bd{
	line-height: 40px
}


.w-map-content .items-content-scenic .bd:before {
	position: absolute;
	bottom: -20px;
	left: 50%;	
	margin-left: -3px;	
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,.74);
	content: ''
}
.w-map-content .items-content-scenic.items-store .bd:before{
	margin-left: -10px;
}

.w-map-content .items-content-store .mark {
	margin: 0 30px 0 0
}

.w-map-content .items-content-store .bd {
	padding: 5px 70px 5px 10px;
	min-width: 190px;
	min-height: 50px
}

.w-map-content .items-content-empty .bd {
	display: none
}

.w-map-content .items-arr {
	position: absolute;
	top: 50%;
	left: 25px;
	visibility: hidden;
	margin: -10px 0 0;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 10px solid rgba(0,0,0,.74);
	opacity: 0;
	-webkit-transition: all .1s ease;
	transition: all .1s ease;
	-webkit-transform: translate3d(10px,0,0);
	transform: translate3d(10px,0,0)
}

.w-map-content .items-arr-scenic {
	display: none;
	position: absolute;
	bottom: -1px;
	left: -3px;
	top:-53px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,.74);
	opacity: 0;
	-webkit-transition: all .1s ease;
	transition: all .1s ease
}

.w-map-content .items-arr-talent {
	position: absolute;
	top: 50%;
	left: 26px;
	margin: -10px 0 0;
	margin-top: -15px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 10px solid rgba(0,0,0,.74);
	opacity: 0;
	-webkit-transition: all .1s ease;
	transition: all .1s ease
}

.w-map-content .items-sm {
	min-width: 130px
}

.w-map-content .items-sm .bd {
	padding: 3px 10px
}

.w-map-content .items-sm .bd:after {
	display: none
}

.w-map-content .items-doc {
	position: absolute;
	width: 49px;
	height: 49px;
	top: -500px;
	display: none;
}

.w-map-content .items-doc a {
	position: relative;
	top: 0;
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
	background:url(../img/mark.png) no-repeat 0 0;
}

.w-map-content .items-doc .r {
	position: absolute;
	top: -13px;
	left: -13px;
	z-index: 2;
	width: 40px;
	height: 40px;
	border: 1px solid #c8003c;
	border-radius: 100%;
	background-color: rgba(199,1,60,.2);
	content: '';
	animation-timing-function: linear;
	-webkit-animation-duration: 1.3s;
	animation-duration: 1.3s
}

.w-map-content .active {
	z-index: 100 !important;
}

.w-map-content .active .items-content {
	z-index: 10;
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.w-map-content .block {
	z-index: 10;
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1)	
}

.w-map-content .active .items-content-scenic {
	margin: 0;
	-webkit-transform: scale(1) translate3d(-50%,0,0);
	transform: scale(1) translate3d(-50%,0,0)
}

.w-map-content .active .items-arr {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0)
}

.w-map-content .active .items-arr-scenic {
	visibility: visible;
	opacity: 1
}

.w-map-content .active .items-arr-talent {
	visibility: visible;
	opacity: 1
}

.w-map-location .arr {
	position: relative
}

.w-map-location .arr:after {
	position: absolute;
	top: 50%;
	right: 25px;
	display: block;
	margin: -5px 0 0;
	width: 10px;
	height: 10px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.w-map-location p {
	margin: 0
}

.w-map-location .search {
	padding: 10px 30px;
	background: #f4f4f4;
	text-align: center
}

.w-map-location .search .text {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	border: 1px solid #e4e4e4;
	border-radius: 15px;
	text-align: center;
	line-height: 30px
}

.w-map-location .location a {
	display: block;
	padding: 0 15px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
	color: #333;
	line-height: 38px
}

.w-map-location .pupular {
	overflow: hidden;
	padding: 10px 15px;
	background: #f4f4f4
}

.w-map-location .pupular h5 {
	color: #bbb;
	font-size: 12px
}

.w-map-location .pupular a {
	float: left;
	margin: 0 12px 12px 0;
	width: 80px;
	height: 30px;
	border: 1px solid #e0e0e0;
	background: #fff;
	color: #333;
	text-align: center;
	font-size: 14px;
	line-height: 30px
}

.w-map-location .city {
	margin: 0
}

.w-map-location .city dt {
	padding: 0 15px;
	background: #f4f4f4;
	color: #333;
	line-height: 24px
}

.w-map-location .city a {
	display: block;
	padding: 0 15px;
	border-top: 1px solid #e0e0e0;
	background: #fff;
	color: #333;
	line-height: 38px
}

.w-map-sort {
	position: fixed;
	top: 50%;
	right: 0;
	width: 20px;
	background: #fff;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0)
}

.w-map-sort a {
	display: block;
	width: 100%;
	color: #c8003c;
	text-align: center;
	font-size: 12px;
	line-height: 1
}

.w-map-control {
	width: 35px
}

.w-map-control a {
	display: block;
	width: 35px;
	height: 35px;
	background-color: rgba(255,255,255,.9);
	text-align: center;
	line-height: 35px
}

.w-map-control a:active {
	opacity: .5
}

.w-map-control .in {
	background: rgba(255,255,255,.9) url(http://api0.map.bdimg.com/images/navigation-control/mobile/plus-28x29.png) center no-repeat;
	background-size: 15px
}

.w-map-control .out {
	background: rgba(255,255,255,.9) url(http://api0.map.bdimg.com/images/navigation-control/mobile/minus-30x6.png) center no-repeat;
	background-size: 15px
}

.w-map-control .disabled {
	opacity: .5
}

.w-map-control img {
	width: 15px
}

.w-map-modal {
	background-color: rgba(0,0,0,.5)
}

.w-topman p {
	margin: 0
}

.w-topman img {
	height: auto;
	max-width: 100%;
	border: 0;
	vertical-align: middle
}

.w-topman-hd {
	position: relative;
	overflow: hidden;
	height: 190px;
	border-top: 1px solid #c6c6c6;
	background: url(../img/topman/bg.jpg) center top no-repeat;
	background-size: cover;
	text-align: center
}

.w-topman-hd p {
	margin: 0 0 6px
}

.w-topman-hd .avatar {
	margin: 10px 0 0;
	width: 82px;
	height: 82px;
	border-radius: 100%
}

.w-topman-hd .name {
	color: #333;
	font-size: 16px
}

.w-topman-hd .desc {
	font-size: 13px
}

.w-topman-hd .level {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0 4px;
	background: #c8003c;
	color: #fff;
	font-size: 12px;
	line-height: normal
}

.w-topman-hd .ctrl a {
	display: inline-block;
	padding: 0 12px;
	border: 1px solid #c8003c;
	border-radius: 12px;
	color: #c8003c;
	font-size: 12px;
	line-height: 25px
}

.w-topman-hd .counts {
	position: absolute;
	top: 35px;
	left: 10px;
	width: 50px;
	color: #333;
	font-size: 13px
}

.w-topman-hd .counts-right {
	right: 10px;
	left: auto
}

.w-topman-tab {
	border-bottom: 1px solid #e8e8e8
}

.w-topman-tab a {
	display: inline-block;
	width: 50%;
	color: #333;
	text-align: center;
	line-height: 33px
}

.w-topman-tab span {
	display: inline-block;
	padding: 0 15px
}

.w-topman-tab .active span {
	border-bottom: 2px solid #c8003c;
	color: #c8003c
}

.w-topman-article {
	overflow: hidden;
	background: #f4f4f4
}

.w-topman-article-item {
	margin: 0 0 15px;
	border-top: 1px solid #ebebeb;
	background: #fff
}

.w-topman-article-item .w-img-big {
	margin: 0 0 7px
}

.w-topman-article-item .title {
	padding: 0 12px;
	background: #fff;
	line-height: 38px
}

.w-topman-article-item .imgs {
	position: relative;
	float: left;
	margin: 0 0 0 3.5%;
	width: 31%;
	height: 102px
}

.w-topman-article-item .imgs img {
	width: 100%;
	height: 100%
}

.w-topman-article-item .imgs:first-child {
	margin: 0
}

.w-topman-article-item .imgs span {
	position: absolute;
	top: 4px;
	right: 4px;
	display: inline-block;
	padding: 0 5px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	font-size: 13px;
	line-height: 20px
}

.w-topman-article-item .ft {
	padding: 0 12px;
	border-bottom: 1px solid #ddd;
	color: #999;
	line-height: 35px
}

.w-topman-article-item .like {
	float: right
}

.w-topman-article-imgs {
	overflow: hidden;
	width: 100%
}

.w-topman-desc .hd {
	padding: 10px 0;
	background: #f4f4f4;
	color: #888;
	line-height: 30px
}

.w-topman-desc .hd p {
	padding: 0 10px;
	font-size: 12px
}

.w-topman-desc .hd .title {
	font-size: 16px
}

.w-topman-desc .hd .label {
	padding: 0 10px 0 0
}

.w-topman-desc .bd {
	overflow: hidden;
	background: #fff
}

.w-topman-desc .bd .title {
	padding: 15px 15px 0;
	color: #c8003c;
	font-size: 16px
}

.w-topman-desc .bd .title span {
	display: inline-block;
	overflow: hidden;
	margin: 0 10px 0 0;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: #c8003c;
	color: #fff;
	vertical-align: text-bottom;
	text-align: center;
	line-height: 20px
}

.w-topman-desc .bd p {
	margin: 0 0 10px;
	padding: 0 15px;
	color: #333;
	font-size: 13px;
	line-height: 24px
}

.w-search .more {
	display: block;
	padding: 10px 0;
	color: #888;
	text-align: center
}

.w-search .more:after {
	display: none
}

.w-search p {
	margin: 0
}

.w-search-hot {
	padding: 8px 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: #fff;
	font-size: 13px
}

.w-search-hot a {
	display: inline-block;
	margin: 0 0 0 8px;
	padding: 0 8px;
	border: 1px solid #c8003c;
	border-radius: 4px;
	color: #c8003c;
	line-height: 24px
}

.w-search-history {
	font-size: 13px
}

.w-search-history .hd {
	padding: 0 10px;
	line-height: 38px
}

.w-search-history li {
	border-bottom: 1px solid #e8e8e8
}

.w-search-history a {
	display: block;
	padding: 0 10px;
	color: #bbb;
	line-height: 38px
}

.w-search-gap {
	height: 10px;
	border-bottom: 1px solid #e8e8e8;
	background: #f4f4f4
}

.w-search-hd {
	padding: 0 10px;
	border-bottom: 1px solid #e3e3e3;
	background: #f4f4f4;
	font-size: 13px;
	line-height: 30px
}

.w-search-view a {
	position: relative;
	display: block;
	padding: 10px 20px 10px 90px;
	border-bottom: 1px solid #eaeaea
}

.w-search-view a:last-child {
	border: none
}

.w-search-view a:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	margin: -4px 0 0;
	width: 8px;
	height: 8px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.w-search-view .preview {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 70px;
	height: 70px
}

.w-search-view .title {
	color: #333;
	font-size: 14px
}

.w-search-view .addr {
	color: #bbb;
	font-size: 12px
}

.w-search-view .desc {
	overflow: hidden;
	height: 40px;
	color: #333;
	font-size: 12px
}

.w-search-buyer a {
	position: relative;
	display: block;
	padding: 10px 20px 10px 58px;
	border-bottom: 1px solid #eaeaea
}

.w-search-buyer a:last-child {
	border: none
}

.w-search-buyer a:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	margin: -4px 0 0;
	width: 8px;
	height: 8px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.w-search-buyer .avatar {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 38px;
	height: 38px;
	border-radius: 100%
}

.w-search-buyer .title {
	color: #333;
	font-size: 14px
}

.w-search-buyer .desc {
	color: #bbb;
	font-size: 12px
}

.w-search-buyer .date {
	float: right;
	white-space: nowrap
}

.w-search-user a {
	position: relative;
	display: block;
	padding: 10px 20px 10px 58px;
	border-bottom: 1px solid #eaeaea
}

.w-search-user a:last-child {
	border: none
}

.w-search-user a:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	margin: -4px 0 0;
	width: 8px;
	height: 8px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.w-search-user .avatar {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 38px;
	height: 38px;
	border-radius: 100%
}

.w-search-user .title {
	color: #333;
	font-size: 14px
}

.w-search-user .desc {
	color: #333;
	font-size: 12px
}

.w-search-user .level {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0 4px;
	background: #c8003c;
	color: #fff;
	font-size: 12px;
	line-height: normal
}

.w-search-store a {
	position: relative;
	display: block;
	padding: 10px 20px 10px 58px;
	border-bottom: 1px solid #eaeaea
}

.w-search-store a:last-child {
	border: none
}

.w-search-store a:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	margin: -4px 0 0;
	width: 8px;
	height: 8px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.w-search-store .avatar {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 38px;
	height: 38px;
	border-radius: 100%
}

.w-search-store .title {
	color: #333;
	font-size: 14px
}

.w-search-store .desc {
	color: #bbb;
	font-size: 12px
}

.w-search-store span {
	margin: 0 8px 0 0
}

.w-search-product .product-item {
	position: relative;
	display: block;
	padding: 10px 20px 10px 90px;
	min-height: 90px;
	border-bottom: 1px solid #eaeaea
}

.w-search-product .product-item:last-child {
	border: none
}

.w-search-product .product-item:after {
	position: absolute;
	top: 50%;
	right: 10px;
	display: block;
	margin: -4px 0 0;
	width: 8px;
	height: 8px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	content: '';
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.w-search-product .preview {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 70px;
	height: 70px
}

.w-search-product .title {
	overflow: hidden;
	margin: 0 0 5px;
	height: 40px;
	color: #333;
	font-size: 15px;
	line-height: 20px
}

.w-search-product .desc {
	overflow: hidden;
	color: #333;
	font-size: 14px
}

.w-search-product .like {
	float: right;
	color: #c8003c
}

.w-search-product .price {
	color: #f31f0b;
	font-size: 17px
}

.w-search-more {
	border-top: 1px solid #ebebeb
}

.w-search-more a {
	display: block;
	color: #bbb;
	text-align: center;
	font-size: 13px;
	line-height: 35px
}

.w-search-form {
	position: relative;
	text-align: left
}

.w-search-form .ion-ios-search-strong {
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 34px;
	text-align: center;
	font-size: 30px;
	line-height: 34px
}

.w-search-form input {
	margin: 5px 0 0;
	padding: 0 10px 0 34px;
	width: 100%;
	border: 1px solid #c8003c;
	border-radius: 4px;
	font-size: 15px
}

.w-search-btn {
	display: inline-block;
	padding: 0 10px;
	height: 34px;
	border-radius: 4px;
	background: #c8003c;
	color: #fff;
	line-height: 34px
}

.w-search-empty {
	position: absolute;
	width: 100%;
	color: #333;
	text-align: center;
	font-size: 15px;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0)
}

.w-search-empty img {
	display: block;
	margin: 0 auto 30px;
	width: 23%
}

.w-scenic {
	background: #f4f4f4
}

.w-scenic p {
	margin: 0
}

.w-scenic img {
	max-width: 100%;
	border: 0;
	vertical-align: middle
}

.w-scenic-preview {
	height: 170px;
	text-align: center
}

.w-scenic-preview img {
	height: 100%
}

.w-scenic-title {
	padding: 0 12px;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;
	line-height: 33px
}

.w-scenic-title span {
	display: inline-block;
	padding: 0 0 0 10px;
	border-left: 2px solid #c8003c;
	font-size: 14px;
	line-height: 14px
}

.w-scenic-title .ctrl {
	float: right;
	color: #979797
}

.w-scenic-subtitle {
	padding: 0 12px;
	background: #fff;
	color: #333;
	line-height: 33px
}

.w-scenic-desc {
	overflow: hidden;
	margin: 0 0 15px;
	background: #fff;
	color: #333;
	font-size: 13px;
	line-height: 22px
}
.w-scenic-desc.false{
	height: 104px;
}
.w-scenic-desc .inner{
	overflow: hidden;
    margin: 12px;
    min-height: 110px;
}
.w-scenic-desc .inner em {
  font-style: italic;
}
.w-scenic-desc iframe {
  width: 100%;
  min-height: 240px;
  max-height: 300px;
  margin: 10px 0;
}
.w-scenic-desc embed {
  width: 100%;
  min-height: 240px;
  max-height: 300px;
  margin: 10px 0;
}
.w-scenic-desc video {
  width: 100%;
  min-height: 240px;
  max-height: 300px;
  margin: 10px 0;
}
.w-scenic-desc audio {
  width: 100%;
  height: auto;
  min-height: 50px;
  margin: 10px 0;
}

.w-scenic-souvenir {
	overflow: hidden;
	padding: 12px 0;
	background: #fff
}

.w-scenic-souvenir li {
	float: left;
	margin: 0 0 0 10px;
	width: 45%;
	border: 1px solid #ddd;
	text-align: center
}

.w-scenic-souvenir img {
	height: 147px
}

.w-scenic-souvenir .title {
	overflow: hidden;
	padding: 5px;
	height: 50px;
	color: #333;
	text-align: left;
	font-size: 12px
}

.w-scenic-souvenir .price {
	padding: 0 5px 5px;
	color: #f42f1a;
	text-align: left;
	font-size: 14px
}

.w-scenic-souvenir .price .sub {
	float: right;
	color: #999
}

.w-scenic-souvenir .price i {
	margin: 0 8px 0 0;
	color: #ca0a44
}

.w-scenic-other {
	clear: both;
	overflow: hidden;
	margin: 0 0 15px;
	padding: 0 0 15px;
	background: #fff
}

.w-scenic-other .title {
	padding: 0 10px;
	color: #888;
	font-size: 13px;
	line-height: 27px
}

.w-scenic-other ul {
	overflow: hidden
}

.w-scenic-other li {
	float: left;
	margin: 0 0 0 10px;
	width: 50px;
	height: 50px
}

.w-scenic-other img {
	width: 103px;
	height: 103px
}

.w-scenic-other .avatar {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.w-scenic-comment .title {
	padding: 0 10px;
	background: #fff;
	color: #333;
	line-height: 32px
}

.w-scenic-comment .comment {
	position: relative;
	padding: 10px 10px 10px 60px;
	border-top: 1px solid #e0e0e0;
	background: #fff
}

.w-scenic-comment .avatar {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 100%
}

.w-scenic-comment .desc {
	margin: 0 0 10px;
	font-size: 13px
}

.w-scenic-comment .level {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0 4px;
	background: #c8003c;
	color: #fff;
	font-size: 12px;
	line-height: normal
}

.w-scenic-comment .ctrl {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right
}

.w-scenic-comment .ctrl .btn {
	display: inline-block;
	padding: 0 5px;
	border-radius: 4px;
	background: #c8003c;
	color: #fff;
	font-size: 12px;
	line-height: 20px
}

.w-scenic-comment .ctrl .date {
	color: #bbb
}

.w-scenic-comment-ctrl {
	clear: both;
	margin: 0px 0 0;
	height: 51px
}

.w-scenic-comment-ctrl-fix {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px 0;
	width: 100%;
	border-top: 1px solid #bbb;
	background: #f4f4f4
}

.w-scenic-comment-ctrl-fix span {
	display: inline-block
}

.w-scenic-comment-ctrl-fix .text {
	display: inline-block;
	padding: 0 15px;
	width: 100%;
	height: 30px;
	border: 1px solid #c8c7cc;
	border-radius: 2px;
	background: #fff;
	color: #bbb;
	line-height: 30px
}

.w-scenic-comment-ctrl-fix .text-wrap {
	display: block;
	margin: 0 15px 0 15px
}

.w-scenic-comment-ctrl-fix .ctrl {
	position: absolute;
	top: 10px;
	right: 15px
}

.w-scenic-comment-ctrl-fix .ctrl a {
	display: inline-block;
	margin: 0 0 0 25px;
	color: #c8003c;
	font-size: 30px
}

.w-comment .textarea {
	width: 100%;
	height: 100%;
	border: none;
	line-height: 24px
}

.w-comment .textarea-wrap {
	padding: 15px;
	border-top: 1px solid #bbb
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes flash {
	50%,from,to {
		opacity: 1
	}

	25%,75% {
		opacity: 0
	}
}

@keyframes flash {
	50%,from,to {
		opacity: 1
	}

	25%,75% {
		opacity: 0
	}
}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash
}

@keyframes sacle {
	50%,from,to {
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	25%,75% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes sacle {
	50%,from,to {
		-webkit-transform: scale(0);
		transform: scale(0)
	}

	25%,75% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.scale {
	-webkit-animation-name: sacle;
	animation-name: sacle
}
.w-map-content .block .items-doc{
	display: block;
	animation:myfirst 0.4s forwards;
	-webkit-animation:myfirst 0.4s forwards;
}
@keyframes myfirst
{
	0%{ 
		top: -500px;
	}
	100% {
		top:-34px;
	}
}
@-webkit-keyframes myfirst
{
	0%{ 
		top: -500px;
	}
	100% {
		top:-34px;
	}
}
.ctrl a{
	display: inline-block;
    margin: 0 5px 0 15px;
    color: #c8003c;
    font-size: 30px;
}
.w-map-content .items-avatar.talents{
	left: -17px;
	top: 5px;
}
.w-map-content .items-avatar.talents a{
	background-color: rgba(0,0,0,0.6);
    border-radius: 100% 100%;
    height: 54px;    
    vertical-align: middle;
    border: 1px solid rgba(255,255,255,0.9);
    text-align: center;
    display: table-cell;
    width: 55px;
}
.w-map-content .items-avatar.talents img{
	width: 42px;
	height: 42px;
	vertical-align: middle;
}

/*a{text-decoration:none}.bar .title{margin:0}.w-icon-scan{display:inline-block;width:34px;height:34px;background:url(../img/maps/map-scan.png) center no-repeat;background-size:70%}.w-map{width:100%;height:100%}.w-map-ctrl{position:absolute;right:10px;top:10px;z-index:100}.w-map-ctrl i{display:block;width:35px;height:35px;text-align:center;line-height:35px;background-color:rgba(0,0,0,.6);color:#fff;border-radius:100%;font-size:22px;background-position:center;background-repeat:no-repeat;background-size:100%}.w-map-ctrl .icon-loop{background-image:url(../img/maps/map-reload.png)}.w-map-ctrl .icon-home{background-image:url(../img/maps/map-home.png)}.w-map-ctrl .icon-group{background-image:url(../img/maps/map-group.png)}.w-map-ctrl a{display:block;margin:0 0 10px}.w-map-ctrl .active i{background-color:rgba(200,0,60,.7)}.w-map-nav{overflow:auto}.w-map-nav .inner{white-space:nowrap;padding:0 0 0 5px;display:table}.w-map-nav a{height:34px;background:#fff;line-height:34px;color:#717171;font-size:14px;padding:0 10px;white-space:nowrap;display:table-cell}.w-map-nav .active{color:#c8003c;border-bottom:1px solid #c8003c}.w-map-content{position:relative;overflow:hidden;width:100%;height:100%}.w-map-content .background{position:absolute;left:0;top:0;touch-action:none}.w-map-content .locations{position:absolute;left:0;top:0;transition-property:opacity;transition-duration:.5s;transition-timing-function:ease-in}.w-map-content .fade{opacity:0}.w-map-content .moving{transition-duration:0s}.w-map-content .items{position:absolute;font-size:12px;z-index:10}.w-map-content .items>a{display:block}.w-map-content .items .toggleContent{display:block}.w-map-content .items-avatar{position:absolute;left:0;top:50%;margin:-17px 0 0}.w-map-content .items-avatar img{width:32px;height:32px;border-radius:100%;position:relative;z-index:5;border:1px solid #c8003c;background:#fff}.w-map-content .items-avatar:after{content:'';display:block;position:absolute;width:15px;height:15px;background:#c8003c;bottom:1px;-webkit-transform:rotate(45deg);transform:rotate(45deg);z-index:2;left:9px}.w-map-content .items-content{color:#fff;margin:0 0 0 45px;visibility:hidden;opacity:0;-webkit-transition:all .1s ease;transition:all .1s ease;-webkit-transform:scale(.6);transform:scale(.6);border-radius:5px;overflow:hidden;z-index:0}.w-map-content .items-content a{color:#fff}.w-map-content .items-content .hd{line-height:26px;color:#fff;background-color:rgba(200,0,60,.74);padding:0 10px;white-space:nowrap;height:26px;overflow:hidden}.w-map-content .items-content .mark{margin:0 20px 0 0}.w-map-content .items-content .sub{float:right}.w-map-content .items-content .icon{margin:0 5px 0 0}.w-map-content .items-content .bd{background-color:rgba(0,0,0,.74);padding:5px 20px 5px 10px;position:relative}.w-map-content .items-content .ion-heart{font-size:15px}.w-map-content .items-content .desc{color:#c8003c}.w-map-content .items-content .name{font-size:14px;white-space:nowrap}.w-map-content .items-content .name .ion-heart{margin:0}.w-map-content .items-content p{margin:0;clear:both}.w-map-content .items-content .pic{width:35px;height:35px;border:1px solid #fff;position:absolute;right:5px;top:7px}.w-map-content .items-content-scenic{position:absolute;top:-80px;left:50%}.w-map-content .items-content-scenic .img{width:50px;height:50px;position:absolute;left:10px;top:5px}.w-map-content .items-content-scenic .bd{padding:5px 20px 5px 75px;line-height:25px}.w-map-content .items-content-scenic .bd:before{content:'';display:block;position:absolute;width:0;height:0;border:12px solid transparent;border-top:12px solid rgba(0,0,0,.74);bottom:-24px;left:82px}.w-map-content .items-content-store .mark{margin:0 30px 0 0}.w-map-content .items-content-store .bd{padding:5px 70px 5px 10px;min-width:190px;min-height:50px}.w-map-content .items-content-empty .bd{display:none}.w-map-content .items-arr{width:0;height:0;border:10px solid transparent;border-right:10px solid rgba(0,0,0,.74);position:absolute;left:25px;top:50%;margin:-10px 0 0;visibility:hidden;-webkit-transition:all .1s ease;transition:all .1s ease;-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0);opacity:0}.w-map-content .items-arr-scenic{width:0;height:0;border:10px solid transparent;border-top:10px solid rgba(0,0,0,.74);position:absolute;left:-3px;bottom:-1px;opacity:0;-webkit-transition:all .1s ease;transition:all .1s ease}.w-map-content .items-arr-talent{width:0;height:0;border:10px solid transparent;border-right:10px solid rgba(0,0,0,.74);position:absolute;left:25px;top:50%;margin:-9px 0 0;opacity:0;-webkit-transition:all .1s ease;transition:all .1s ease}.w-map-content .items-sm{min-width:130px}.w-map-content .items-sm .bd{padding:5px 10px}.w-map-content .items-sm .bd:after{display:none}.w-map-content .items-doc{width:15px;height:15px;position:absolute}.w-map-content .items-doc a{display:block;width:100%;height:100%;background:#c8003c;border-radius:100%;position:relative;z-index:10}.w-map-content .items-doc .r{content:'';position:absolute;background-color:rgba(199,1,60,.2);width:40px;height:40px;border:1px solid #c8003c;border-radius:100%;left:-13px;top:-13px;z-index:2;animation-timing-function:linear;-webkit-animation-duration:1.3s;animation-duration:1.3s}.w-map-content .active{z-index:100}.w-map-content .active .items-content{visibility:visible;opacity:1;-webkit-transform:scale(1);transform:scale(1);z-index:10}.w-map-content .active .items-content-scenic{-webkit-transform:scale(1) translate3d(-50%,0,0);transform:scale(1) translate3d(-50%,0,0);margin:0}.w-map-content .active .items-arr{visibility:visible;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1}.w-map-content .active .items-arr-scenic{visibility:visible;opacity:1}.w-map-content .active .items-arr-talent{visibility:visible;opacity:1}.w-map-location .arr{position:relative}.w-map-location .arr:after{content:'';display:block;position:absolute;width:10px;height:10px;border-top:1px solid #ccc;border-right:1px solid #ccc;-webkit-transform:rotate(45deg);transform:rotate(45deg);right:25px;top:50%;margin:-5px 0 0}.w-map-location p{margin:0}.w-map-location .search{background:#f4f4f4;padding:10px 30px;text-align:center}.w-map-location .search .text{line-height:30px;border-radius:15px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;margin:0;text-align:center;border:1px solid #e4e4e4}.w-map-location .location a{display:block;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;background:#fff;line-height:38px;padding:0 15px;color:#333}.w-map-location .pupular{background:#f4f4f4;padding:10px 15px;overflow:hidden}.w-map-location .pupular h5{font-size:12px;color:#bbb}.w-map-location .pupular a{float:left;width:80px;height:30px;line-height:30px;text-align:center;background:#fff;color:#333;font-size:14px;border:1px solid #e0e0e0;margin:0 12px 12px 0}.w-map-location .city{margin:0}.w-map-location .city dt{color:#333;padding:0 15px;background:#f4f4f4;line-height:24px}.w-map-location .city a{display:block;line-height:38px;padding:0 15px;background:#fff;border-top:1px solid #e0e0e0;color:#333}.w-map-sort{position:fixed;right:0;width:20px;background:#fff;top:50%;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.w-map-sort a{color:#c8003c;font-size:12px;display:block;width:100%;text-align:center;line-height:1}.w-map-control{width:35px}.w-map-control a{display:block;width:35px;height:35px;text-align:center;line-height:35px;background-color:rgba(255,255,255,.9)}.w-map-control a:active{opacity:.5}.w-map-control .in{background:rgba(255,255,255,.9) url(http://api0.map.bdimg.com/images/navigation-control/mobile/plus-28x29.png) center no-repeat;background-size:15px}.w-map-control .out{background:rgba(255,255,255,.9) url(http://api0.map.bdimg.com/images/navigation-control/mobile/minus-30x6.png) center no-repeat;background-size:15px}.w-map-control .disabled{opacity:.5}.w-map-control img{width:15px}.w-map-modal{background-color:rgba(0,0,0,.5)}.w-topman p{margin:0}.w-topman img{border:0;max-width:100%;height:auto;vertical-align:middle}.w-topman-hd{background:url(../img/topman/bg.jpg) center top no-repeat;height:190px;background-size:cover;border-top:1px solid #c6c6c6;text-align:center;overflow:hidden;position:relative}.w-topman-hd p{margin:0 0 6px}.w-topman-hd .avatar{width:82px;height:82px;border-radius:100%;margin:10px 0 0}.w-topman-hd .name{font-size:16px;color:#333}.w-topman-hd .desc{font-size:13px}.w-topman-hd .level{font-size:12px;background:#c8003c;display:inline-block;color:#fff;padding:0 4px;line-height:normal;margin:0 5px 0 0}.w-topman-hd .ctrl a{display:inline-block;line-height:25px;padding:0 12px;color:#c8003c;border:1px solid #c8003c;border-radius:12px;font-size:12px}.w-topman-hd .counts{position:absolute;width:50px;left:10px;top:35px;font-size:13px;color:#333}.w-topman-hd .counts-right{left:auto;right:10px}.w-topman-tab{border-bottom:1px solid #e8e8e8}.w-topman-tab a{display:inline-block;line-height:33px;width:50%;text-align:center;color:#333}.w-topman-tab span{display:inline-block;padding:0 15px}.w-topman-tab .active span{color:#c8003c;border-bottom:2px solid #c8003c}.w-topman-article{background:#f4f4f4;overflow:hidden}.w-topman-article-item{margin:0 0 15px;border-top:1px solid #ebebeb;background:#fff}.w-topman-article-item .w-img-big{margin:0 0 7px}.w-topman-article-item .title{line-height:38px;padding:0 12px;background:#fff}.w-topman-article-item .imgs{float:left;position:relative;width:31%;height:102px;margin:0 0 0 3.5%}.w-topman-article-item .imgs img{width:100%;height:100%}.w-topman-article-item .imgs:first-child{margin:0}.w-topman-article-item .imgs span{display:inline-block;position:absolute;line-height:20px;padding:0 5px;color:#fff;font-size:13px;background-color:rgba(0,0,0,.7);right:4px;top:4px}.w-topman-article-item .ft{line-height:35px;padding:0 12px;color:#999;border-bottom:1px solid #ddd}.w-topman-article-item .like{float:right}.w-topman-article-imgs{width:100%;overflow:hidden}.w-topman-desc .hd{background:#f4f4f4;color:#888;line-height:30px;padding:10px 0}.w-topman-desc .hd p{padding:0 10px;font-size:12px}.w-topman-desc .hd .title{font-size:16px}.w-topman-desc .hd .label{padding:0 10px 0 0}.w-topman-desc .bd{background:#fff;overflow:hidden}.w-topman-desc .bd .title{font-size:16px;padding:15px 15px 0;color:#c8003c}.w-topman-desc .bd .title span{display:inline-block;width:20px;height:20px;border-radius:100%;background:#c8003c;color:#fff;text-align:center;line-height:20px;overflow:hidden;vertical-align:text-bottom;margin:0 10px 0 0}.w-topman-desc .bd p{padding:0 15px;line-height:24px;font-size:13px;color:#333;margin:0 0 10px}.w-search .more{text-align:center;padding:10px 0;color:#888;display:block}.w-search .more:after{display:none}.w-search p{margin:0}.w-search-hot{background:#fff;padding:8px 10px;border-bottom:1px solid #ddd;border-top:1px solid #ddd;font-size:13px}.w-search-hot a{display:inline-block;border:1px solid #c8003c;color:#c8003c;border-radius:4px;line-height:24px;padding:0 8px;margin:0 0 0 8px}.w-search-history{font-size:13px}.w-search-history .hd{line-height:38px;padding:0 10px}.w-search-history li{border-bottom:1px solid #e8e8e8}.w-search-history a{display:block;color:#bbb;line-height:38px;padding:0 10px}.w-search-gap{height:10px;background:#f4f4f4;border-bottom:1px solid #e8e8e8}.w-search-hd{line-height:30px;background:#f4f4f4;padding:0 10px;border-bottom:1px solid #e3e3e3;font-size:13px}.w-search-view a{display:block;padding:10px 20px 10px 90px;position:relative;border-bottom:1px solid #eaeaea}.w-search-view a:last-child{border:none}.w-search-view a:after{content:'';display:block;width:8px;height:8px;border-top:1px solid #ccc;border-right:1px solid #ccc;right:10px;top:50%;margin:-4px 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute}.w-search-view .preview{width:70px;height:70px;position:absolute;left:10px;top:10px}.w-search-view .title{font-size:14px;color:#333}.w-search-view .addr{font-size:12px;color:#bbb}.w-search-view .desc{font-size:12px;color:#333;height:40px;overflow:hidden}.w-search-buyer a{display:block;padding:10px 20px 10px 58px;position:relative;border-bottom:1px solid #eaeaea}.w-search-buyer a:last-child{border:none}.w-search-buyer a:after{content:'';display:block;width:8px;height:8px;border-top:1px solid #ccc;border-right:1px solid #ccc;right:10px;top:50%;margin:-4px 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute}.w-search-buyer .avatar{width:38px;height:38px;border-radius:100%;position:absolute;left:10px;top:10px}.w-search-buyer .title{font-size:14px;color:#333}.w-search-buyer .desc{font-size:12px;color:#bbb}.w-search-buyer .date{float:right;white-space:nowrap}.w-search-user a{display:block;padding:10px 20px 10px 58px;position:relative;border-bottom:1px solid #eaeaea}.w-search-user a:last-child{border:none}.w-search-user a:after{content:'';display:block;width:8px;height:8px;border-top:1px solid #ccc;border-right:1px solid #ccc;right:10px;top:50%;margin:-4px 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute}.w-search-user .avatar{width:38px;height:38px;border-radius:100%;position:absolute;left:10px;top:10px}.w-search-user .title{font-size:14px;color:#333}.w-search-user .desc{font-size:12px;color:#333}.w-search-user .level{font-size:12px;background:#c8003c;display:inline-block;color:#fff;padding:0 4px;line-height:normal;margin:0 5px 0 0}.w-search-store a{display:block;padding:10px 20px 10px 58px;position:relative;border-bottom:1px solid #eaeaea}.w-search-store a:last-child{border:none}.w-search-store a:after{content:'';display:block;width:8px;height:8px;border-top:1px solid #ccc;border-right:1px solid #ccc;right:10px;top:50%;margin:-4px 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute}.w-search-store .avatar{width:38px;height:38px;border-radius:100%;position:absolute;left:10px;top:10px}.w-search-store .title{font-size:14px;color:#333}.w-search-store .desc{font-size:12px;color:#bbb}.w-search-store span{margin:0 8px 0 0}.w-search-product .product-item{display:block;padding:10px 20px 10px 90px;position:relative;border-bottom:1px solid #eaeaea;min-height:90px}.w-search-product .product-item:last-child{border:none}.w-search-product .product-item:after{content:'';display:block;width:8px;height:8px;border-top:1px solid #ccc;border-right:1px solid #ccc;right:10px;top:50%;margin:-4px 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute}.w-search-product .preview{width:70px;height:70px;position:absolute;left:10px;top:10px}.w-search-product .title{font-size:15px;color:#333;margin:0 0 5px;line-height:20px;height:40px;overflow:hidden}.w-search-product .desc{font-size:14px;color:#333;overflow:hidden}.w-search-product .like{float:right;color:#c8003c}.w-search-product .price{color:#f31f0b;font-size:17px}.w-search-more{border-top:1px solid #ebebeb}.w-search-more a{display:block;line-height:35px;text-align:center;color:#bbb;font-size:13px}.w-search-form{position:relative;text-align:left}.w-search-form .ion-ios-search-strong{position:absolute;height:34px;line-height:34px;width:34px;text-align:center;left:0;top:0;font-size:30px}.w-search-form input{border:1px solid #c8003c;margin:5px 0 0;width:100%;padding:0 10px 0 34px;font-size:15px;border-radius:4px}.w-search-btn{background:#c8003c;color:#fff;line-height:34px;padding:0 10px;display:inline-block;height:34px;border-radius:4px}.w-search-empty{text-align:center;font-size:15px;color:#333;position:absolute;width:100%;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0)}.w-search-empty img{display:block;width:23%;margin:0 auto 30px}.w-scenic{background:#f4f4f4}.w-scenic p{margin:0}.w-scenic img{border:0;max-width:100%;vertical-align:middle}.w-scenic-preview{height:170px;text-align:center}.w-scenic-preview img{height:100%}.w-scenic-title{line-height:33px;padding:0 12px;border-bottom:1px solid #e6e6e6;background:#fff}.w-scenic-title span{display:inline-block;border-left:2px solid #c8003c;line-height:14px;font-size:14px;padding:0 0 0 10px}.w-scenic-title .ctrl{float:right;color:#979797}.w-scenic-subtitle{line-height:33px;padding:0 12px;color:#333;background:#fff}.w-scenic-desc{font-size:13px;color:#333;line-height:22px;overflow:hidden;background:#fff;margin:0 0 15px}.w-scenic-desc .inner{min-height:110px;margin:12px;overflow:hidden}.w-scenic-desc iframe{width:100%;min-height:240px;max-height:300px;margin:10px 0}.w-scenic-desc embed{width:100%;min-height:240px;max-height:300px;margin:10px 0}.w-scenic-desc video{width:100%;min-height:240px;max-height:300px;margin:10px 0}.w-scenic-desc audio{width:100%;height:auto;min-height:50px;margin:10px 0}.w-scenic-souvenir{padding:12px 0;overflow:hidden;background:#fff}.w-scenic-souvenir li{float:left;margin:0 0 0 10px;border:1px solid #ddd;width:45%;text-align:center}.w-scenic-souvenir img{height:147px}.w-scenic-souvenir .title{font-size:12px;color:#333;padding:5px;height:50px;overflow:hidden;text-align:left}.w-scenic-souvenir .price{font-size:14px;color:#f42f1a;padding:0 5px 5px;text-align:left}.w-scenic-souvenir .price .sub{float:right;color:#999}.w-scenic-souvenir .price i{color:#ca0a44;margin:0 8px 0 0}.w-scenic-other{clear:both;overflow:hidden;padding:0 0 15px;background:#fff;margin:0 0 15px}.w-scenic-other .title{font-size:13px;color:#888;line-height:27px;padding:0 10px}.w-scenic-other ul{overflow:hidden}.w-scenic-other li{float:left;width:50px;height:50px;margin:0 0 0 10px}.w-scenic-other img{width:103px;height:103px}.w-scenic-other .avatar{display:block;width:100%;height:100%;background-repeat:no-repeat;background-position:center;background-size:cover}.w-scenic-comment .title{line-height:32px;background:#fff;padding:0 10px;color:#333}.w-scenic-comment .comment{padding:10px 10px 10px 60px;position:relative;border-top:1px solid #e0e0e0;background:#fff}.w-scenic-comment .avatar{width:40px;height:40px;border-radius:100%;position:absolute;left:10px;top:10px}.w-scenic-comment .desc{font-size:13px;margin:0 0 10px}.w-scenic-comment .level{font-size:12px;background:#c8003c;display:inline-block;color:#fff;padding:0 4px;line-height:normal;margin:0 5px 0 0}.w-scenic-comment .ctrl{position:absolute;text-align:right;right:10px;top:10px}.w-scenic-comment .ctrl .btn{display:inline-block;line-height:20px;background:#c8003c;color:#fff;padding:0 5px;border-radius:4px;font-size:12px}.w-scenic-comment .ctrl .date{color:#bbb}.w-scenic-comment-ctrl{clear:both;margin:60px 0 0;height:51px}.w-scenic-comment-ctrl-fix{background:#f4f4f4;border-top:1px solid #bbb;position:fixed;padding:10px 0;left:0;bottom:0;width:100%}.w-scenic-comment-ctrl-fix span{display:inline-block}.w-scenic-comment-ctrl-fix .text{width:100%;height:30px;background:#fff;border:1px solid #c8c7cc;border-radius:2px;padding:0 15px;display:inline-block;color:#bbb;line-height:30px}.w-scenic-comment-ctrl-fix .text-wrap{display:block;margin:0 120px 0 15px}.w-scenic-comment-ctrl-fix .ctrl{position:absolute;right:15px;top:10px}.w-scenic-comment-ctrl-fix .ctrl a{color:#c8003c;font-size:30px;margin:0 0 0 25px;display:inline-block}.w-comment .textarea{width:100%;height:100px;border:none;line-height:24px}.w-comment .textarea-wrap{padding:15px;border-top:1px solid #bbb}.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes flash{50%,from,to{opacity:1}25%,75%{opacity:0}}@keyframes flash{50%,from,to{opacity:1}25%,75%{opacity:0}}.flash{-webkit-animation-name:flash;animation-name:flash}@keyframes sacle{50%,from,to{-webkit-transform:scale(0);transform:scale(0)}25%,75%{-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes sacle{50%,from,to{-webkit-transform:scale(0);transform:scale(0)}25%,75%{-webkit-transform:scale(1);transform:scale(1)}}.scale{-webkit-animation-name:sacle;animation-name:sacle}*/

