<ion-view view-title="退换货订单详情" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left" back-or-home></ion-nav-buttons>
<!-- 	<ion-nav-buttons side="left">
		<a class="button icon ion-ios-arrow-back button-clear" href="#/index/mine/return/rate"></a>
	</ion-nav-buttons> -->
	<ion-content overflow-scroll="true">
		<div class="list">
			<div class="item">问题描述</div>
			<div class="pd-16 fs-12">{{returnData.content}}</div>
			<div class="item item-divider"></div>
			<div class="item">审核留言</div>
			<div class="pd-16 fs-12 bob-dddddd">{{returnData.reply==''?'商家暂无留言':returnData.reply}}</div>
			<div class="item item-divider"></div>
			<div class="item">审核进度</div>
			
			<div class="t-mine-return-jindu">
				<div class="t-mine-return-jindu-item" ng-repeat="item2 in returnData.return_time">
					<div class="t-mine-return-jindu-time">{{item2.create_time * 1000 | date:'yyyy-MM-dd HH:mm'}}</div>
					<div class="t-mine-return-jindu-des">{{item2.content}}</div>
				</div>
<!-- 				<div class="t-mine-return-jindu-item">
					<div class="t-mine-return-jindu-time">2016-12-12 13:31：56</div>
					<div class="t-mine-return-jindu-des">您的服务单已经退款您的服务单已经退款您的服务单已经退款您的服务单已经退款您的服务单已经退款您的服务单已经退款</div>
				</div>
				<div class="t-mine-return-jindu-item">
					<div class="t-mine-return-jindu-time">2016-12-12 13:31：56</div>
					<div class="t-mine-return-jindu-des">您的服务单已经退款您的服务单已经退款您的服务单已经退款您的服务单已经退款您的服务单已经退款</div>
				</div> -->
			</div>
		</div>
	</ion-content>
</ion-view>