<ion-view view-title="进度查询" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left" back-or-home></ion-nav-buttons>

	<ion-content class="bg-f4f4f4" overflow-scroll="true">
		<div class="t-empty" ng-if="itemsData.length==0">
		<img ng-src="img/maps/empty.png" alt="">
		很抱歉，暂时没有退换货商品
		</div>
		<div class="t-mine-rate" ng-repeat="item in itemsData">
			<div class="t-mine-rate-th">
				<div class="t-mine-rate-th-l">服务单号：{{item.number}}</div>
				<div class="t-mine-rate-th-r"><a href="#/index/mine/return/detail/{{item.id}}">进度查询</a></div>
			</div>
			<div class="t-mine-rate-tb-tit">{{item.product.name}}</div>
			<div class="t-mine-rate-tb-type">
				状态：
				<em ng-if="item.status==1">待审核</em>
				<em ng-if="item.status==2">审核通过</em>
				<em ng-if="item.status==3">审核不通过</em>
				<em ng-if="item.status==4">已完成</em>
				<em ng-if="item.status==5">待退款</em>
				<em ng-if="item.status==6">已取消</em>
			</div>
			<div class="t-mine-rate-tb-time">申请时间：{{item.create_time * 1000 | date:'yyyy-MM-dd HH:mm'}}</div>
		</div>
		<button class="button button-block" ng-if="itemCount != 0" ng-bind="loadText" ng-click="loadMoreData()"></button>
		<div class="" style="height:20px;"></div>
<!-- 		<div class="t-mine-rate">
			<div class="t-mine-rate-th">
				<div class="t-mine-rate-th-l">服务单号：5654654656</div>
				<div class="t-mine-rate-th-r"><a href="">进度查询</a></div>
			</div>
			<div class="t-mine-rate-tb-tit">来自英国的品牌灯具xxjlkjl来自英国的品牌灯具xxjlkjl来自英国的品牌灯具xxjlkjl来自英国的品牌灯具xxjlkjl</div>
			<div class="t-mine-rate-tb-type">状态：<em>已经完成</em></div>
			<div class="t-mine-rate-tb-time">申请时间：xxxxx</div>
		</div> -->
	</ion-content>
</ion-view>