<ion-view view-title="申请售后服务" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left" back-or-home></ion-nav-buttons>
	<ion-content class="bg-f4f4f4" overflow-scroll="true">
		<div class="t-return-item">
			<div class="t-return-item-tit">商品返回方式</div>
			<div class="t-return-item-con">
				<div class="t-return-item-btn t-return-item-btn-cur">快递到商家</div>
			</div>
			<div class="t-return-item-tip">快递回商家的地址，商家将在退换货订单审核通过后，短信通知您，快递费用由用户自己承担。</div>
		</div>
		<form name="dataForm" novalidate>
		<div class="t-return-item">
			<div class="t-return-item-info">
				
					<label class="item-input">
						<input type="text" name="true_name" placeholder="请输入联系人" ng-model="wantToSubmitReturnData.true_name" required>
					</label>
					<label class="item-input" style="margin-bottom:0px;">
						<input type="text" name="telephone" placeholder="请输入联系电话" ng-model="wantToSubmitReturnData.telephone" ng-pattern="/^[0-9]{11}$/" required>
					</label>
			</div>
		</div>
		<div class="ma-10 pdb-10"><button class="button button-assertive button-block" ng-click="submitReturn(dataForm)">确定</button></div>
		</form>
	</ion-content>
</ion-view>