<ion-view view-title="关于粤桂黔" hide-tabs="true" hide-back-button="true">
	<ion-nav-buttons side="left" back-or-home></ion-nav-buttons>
	<ion-content>
		<div class="t-mine-about" overflow-scroll="true">
			<!-- <div class="t-mine-about-tit">关于途礼游</div> -->

			<p><img src="img/mine/logo.png" alt="" /></p>
			<p>“粤桂黔”是由广州巨有文化发展有限公司历经三年项目摸索、十余年行业经验后，推出的基于互联网的文化、商业、旅游综合平台，是以地图场景导购、达人推荐、景点展示等方式销售旅游文创商品的交易平台，是以整合地区文创商品、聚集地区文创达人、发展地区文创商业的，着力打造传承+创意+商业+互联网的综合生态文创孵化平台。</p>

			<p>“粤桂黔”在旅游市场垂直细分，专注于旅游购物市场，挖掘地区本土旅游文创精品，为游客解决旅游购物困扰，解决供应商渠道难题，开辟地区机构文化产业化新思路。</p>

			<p>“粤桂黔”目前已与广东省旅游局、广州市旅游局、广东省酒店行业协会、广州市旅游问讯中心、一块去周边游旅游网、南方文化产权交易所，及梅州文创中心、汕头文创中心、中山文创中心、佛山文创中心达成战略合作。</p>

			<p>LOGO含义：</p>

			<p>以时尚色彩+社交元素+购物元素，与服装口袋样式融合，形成简约扁平的符号，即把所有这些以一个口袋终端的形式来承载，重新定义旅游的意义，丰富行、游、住、食、娱、购的旅游全产业环节，即通过讲述旅途城市故事、购买旅游礼物，以场景购物、社交为基础平台。</p>


		</div>
	</ion-content>
</ion-view>
