<ion-view view-title="收银台" hide-tabs="true" hide-back-button="true">
	<!-- <ion-nav-buttons side="left" back-or-home></ion-nav-buttons> -->
	<ion-nav-buttons side="left">
		<a class="button icon ion-ios-arrow-back button-clear" href="#/index/find/payfail/{{order_id}}/1"></a>
	</ion-nav-buttons>
	<ion-content overflow-scroll="true">
		<div class="list">
			<div class="item fs-12">请支付<span class="item-note assertive">{{orderData.pay | currency:"￥"}}</span></div>
			<a class="item item-icon-right" ng-click="wechatPay()">
				<div class="t-pay">
					<div class="t-pay-img"><img src="img/find/wechat.png" alt="" /></div>
					<div class="t-pay-con">
						<div class="t-pay-tit">微信支付</div>
						<div class="t-pay-des">微信安全支付</div>
					</div>
				</div>
				<i class="icon ion-ios-arrow-right co-cccccc fs-22"></i>
			</a>
			<a class="item item-icon-right" ng-if="isAlipay" ng-click="aliPay()">
				<div class="t-pay">
					<div class="t-pay-img"><img src="img/find/alipay.png" alt="" /></div>
					<div class="t-pay-con">
						<div class="t-pay-tit">支付宝支付</div>
						<div class="t-pay-des">支付宝安全支付</div>
					</div>
				</div>
				<i class="icon ion-ios-arrow-right co-cccccc fs-22"></i>
			</a>
		</div>
	</ion-content>
</ion-view>